/* Reset default browser styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fdfaf8;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.description-main {
  font-size: 1em !important;
}
.name {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* Navigation & links */
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  padding-bottom: 2em;
}

nav ul li {
  display: block;
  margin-right: 1em;
  z-index: 100;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5vw;
  line-height: 1em;
  font-family: "Playfair Display", serif;
  transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out; 
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: all 0.3 ease-in-out;
}

nav ul li a:hover {
  color: #aea9a2;
  font-style: italic;
  transform: translate(5px);
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.social-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.4em;
  margin-right: 0.6em;
}

.resume-link button {
  color: #333;
  border-bottom: 0.1em solid #3b3937;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
  background-color: transparent;
}

.resume-link button:hover {
  background-color: #e8e1d8;
}

/* Navigation for smaller screens */
.mobile-menu-handler {
  display: none;
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;
  z-index: 200;
}

.mobile-menu-handler .fa-bars {
  font-size: 1.5em;
}

nav.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

nav.mobile-nav.active {
  transform: translateX(0);
}

nav.mobile-nav ul li {
  padding: 1em 0;
}

/* Darkmode */
body.dark-mode {
  background-color: #3b3937;
  color: #f9f9f9;
}

#dark-mode-input {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 25px;
  cursor: pointer;
  appearance: none;
  background-color: #fdfaf8;
  border: 1.5px solid #a7a29b;
  border-radius: 12px;
  transition: background-color 0.2s ease-in-out;
}

#dark-mode-input:checked {
  background-color: #3b3937;
}

/* Homepg */
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home h1 {
  font-size: 3em;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#home p {
  font-size: 2em;
}

/* About */
#about {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}
#about a {
  color: #333;
  border-bottom: 0.1em solid #e8e1d8;
  transition: background-color 0.2s ease-in-out;
  text-decoration: none;
}

#about a:hover {
  background-color: #e8e1d8;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-content img {
  width: 350px;
  height: 400px;
  margin-right: 4em;
  margin-bottom: 4em;
  padding-left: 3em;
}

.about-me-content p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 5em;
  text-align: right;
}

/* Portfolio */
#portfolio {
  padding-left: 3em;
}

.portfolio-skills-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2em;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.project-card {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .project-info {
  opacity: 1;
}

.project-info a {
  color: #333;
  text-decoration: none;
  margin-top: 1em;
}

.tech-used {
  list-style-type: none;
  padding-top: 1em;
}
.tech-used li {
  display: inline-block;
  margin-right: 1em;
}

#skills-section li {
  list-style: none;
}

/* Contact */
#contact {
  padding-left: 3em;
}

#contact h2 {
  margin-bottom: 1em;
}

#contact-form {
  background-color: #f9f9f9;
  padding: 1.3em;
  border-radius: 5px;
}

#contact-form label {
  display: block;
  margin-bottom: 0.5em;
}

#contact-form input[type="text"],
#contact-form textarea {
  width: 100%;
  padding: 0.75em;
  border: none;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

#contact-form input[type="text"]:focus,
#contact-form textarea:focus {
  outline: none;
}

.submit-btn {
  background-color: #b3aa92;
  color: white;
  cursor: pointer;
  border: none;
  padding: 1em 1em;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #dark-mode-input {
    display: none;
  }

  nav {
    position: relative;
    height: auto;
    flex-direction: row;
    display: none;
  }

  nav.active {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #a7a29b;
    width: 100vw;
    top: 0;
    z-index: 100;
  }

  .resume-link {
    display: none;
  }
  
  nav ul li {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    margin-top: 0.43em;
  }

  #home {
margin-top: -1em;
  }

  .social-links {
    display: none;
  }

  .mobile-menu-handler {
    display: block;
    position: fixed;
    z-index: 200;
  }
  #about {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  #about h2 {
    order: -1;
    font-size: 3em;
    text-align: center;
  }

  .about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me-content img {
    width: 50%;
    height: auto;
    margin-right: 1em;
    order: -1;
  }

  .about-me-content p {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
  }
  
.portfolio-grid {
  max-width: 100%;
}
}
